body, html {
  height: 90%;
  background-color: #01080e;
  color: #fff;
}

#homePage{
  font-family: 'Roboto Condensed', sans-serif;
}

#homePage .logo{
  text-align: center;
}

#homePage .logo .logo-img{
  width: 200px;
}

#homePage .greet{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  color: #fff;
  font-size: 30px;
}

#homePage .userForm{
  text-align: center;
  font-size: 20px;
}

#homePage .userForm .button{
  text-decoration: none;
  color: #f0e6d2;
  background-color: #1e2328;
  border: 2px solid #09a2a3;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 8px;
  font-weight: 400;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s linear;
  font-size: 15px;
}

#homePage .userForm .button:hover{
  background-color: #09a2a3;
}
