body, html {
  height: 90%;
  background-color: #01080e;
  color: #fff;
}

#homePage{
  font-family: 'Roboto Condensed', sans-serif;
}

#homePage .logo{
  text-align: center;
}

#homePage .logo .logo-img{
  width: 200px;
}

#homePage .greet{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  color: #fff;
  font-size: 30px;
}

#homePage .userForm{
  text-align: center;
  font-size: 20px;
}

#homePage .userForm .button{
  text-decoration: none;
  color: #f0e6d2;
  background-color: #1e2328;
  border: 2px solid #09a2a3;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 8px;
  font-weight: 400;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s linear;
  font-size: 15px;
}

#homePage .userForm .button:hover{
  background-color: #09a2a3;
}

#champSelect{
  font-family: 'Roboto Condensed', sans-serif;
  display: none;
}

#champSelect #waiting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 35px;
}

#champSelect #waiting .button{
  text-decoration: none;
  color: #f0e6d2;
  background-color: #1e2328;
  border: 2px solid #09a2a3;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 8px;
  font-weight: 400;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s linear;
  font-size: 15px;
}

#champSelect #waiting .button:hover{
  background-color: #09a2a3;
}

#champSelect #textArea{
  display: block;
}

#summoners {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

#summoners td, #summoners th {
  border: 3px solid #09a2a3;
  padding: 8px;
}

#summoners tr:hover {background-color: #574e4e;}

#summoners th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1e2328;
  color: white;
}

#summoners td{
  background-color: black;
}

#summoners #ally td{
  background-color: #574e4e;
}